* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192);
}

.inputchar {
    width: 200px;
    height: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border-style: none;
    box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.178);
}

.inputbutton {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}

.inputbutton:hover {
    cursor: pointer;
}

p {
    width: 200px;
    padding: 20px;
}


.icones {
    display: flex;
    flex-flow: row nowrap;
    padding: 15px;
}

#pralogar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
    background-color: rgba(255, 32, 32, 0.925);
}

#pracadastrar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#formlogin {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 340px;
    border-radius: 5px;
}

#loginbutton {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 340px;
    padding: 20px;
}

#formcad {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 340px;
    border-radius: 5px;
    background-color: white;
}

#cadbutton {
    display: none;
    flex-flow: column nowrap;
    padding: 20px;
    align-items: center;
    width: 340px;
}

@media screen and (max-width: 768px) {
    main {
        width: 70%;
        flex-flow: column nowrap;
    }

    #pralogar {
        align-items: center;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    #pracadastrar {
        align-items: center;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }
}
